.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  background-color: #7b2cbf;
}
.content-catalog {
  margin-top: 40px;
}
.text-menu {
 color: aliceblue; 
 text-decoration: none;
 font-weight: bold;
 transition: 0.2s;
}
.text-menu :hover{
  background:#dfeaf1 ;
  text-decoration: none;
}
.container-fluid{
  background-color: rgb(209, 178, 209);
}
